.share-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .share-modal-paper {
    width: 90%;
    max-width: 400px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: white;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .share-modal-close-button {
    position: absolute !important;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  